:root{
  --main-color:#06c;
}

body {
  font: 10px sans-serif;
  shape-rendering: crispEdges;
}

.day {
  fill: #eee;
  stroke: #fff;
  stroke-width: 3px;
}

.color0 { fill: #d6e685 }
.color1 { fill: #44a340 }
.color2 { fill: #28752d }
.color3 { fill: #1e6823 }
.color4 { fill: #365e2f }
.color5 { fill: #144e12 }

.hidden { display: none; }

.custom-title { margin-top: 200px; }

.custom-input-group {
  width: 500px;
  text-align: center;
  display: inline-block;
  margin: 0 auto;
}

.results {
  width: 800px;
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.center {
  text-align: center;
  display: inherit;
}

.checkbox {
  margin-top: 5px;
}

/* Loading spinner */
.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--main-color);
  background: -moz-linear-gradient(left, var(--main-color) 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, var(--main-color) 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, var(--main-color) 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, var(--main-color) 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, var(--main-color) 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.loader:before {
  width: 50%;
  height: 50%;
  background: var(--main-color);
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}

.loader:after {
  background: #fff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.github-stars {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 20px;
  width: 110px;
  height: 20px;
}
